.nav_container {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1rem;
  padding: 2vh 2.5vw 0 2vw;
  margin: 0;
  transition: ease-out 0.5s;
  z-index: 100;
  width: 100vw;
  transform: translateX(0.7rem);
}

.color_change {
  background-color: white;
  color: black;
  box-shadow: 1px 1px 1px 2px rgb(132, 130, 130, 20%);
}

li i {
  margin-right: 0.3rem;
}

.i_colorChange {
  color: #158140;
}

.title {
  transform: translateY(-0.8rem);
  margin: 0;
  padding: 0;
}
.nav_ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  gap: 2.1rem;
}

.nav_ul li {
  white-space: nowrap;
  cursor: pointer;
}

/* MODAL STARTS ***************************************************/
.modal_container {
  transition: ease-out 0.5s;
  box-shadow: 2px 2px 2px 8px hsl(0, 0%, 83%, 50%);
  background-color: white;
  width: 70vw;
  height: 100vh;
  position: absolute;
  top: 0%;
  right: -100%;
  color: black;
}
.modal_hamburguer_btn {
  background-color: hsl(0, 0%, 100%, 0%);
  border: none;
}
.white {
  color: white;
}
.modal_container_in {
  right: 0%;
}

.modal_btn {
  margin-left: 14rem;

  border: none;
  color: #158140;
  font-size: 1.3rem;
}
.modal_ul {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  list-style: none;
}

.modal_li {
  margin-left: 1rem;
  color: #158140;
  font-size: 1rem;
  font-weight: bold;
}

/* MODAL ENDS ***************************************************/

@media (max-width: 1200px) {
  .nav_container {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1rem;
    padding: 1%;
    margin: 0;
    transition: ease-out 0.5s;
    z-index: 100;
  }
  .title {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    transform: translateY(-0.3rem);
  }
  .nav_ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }
}
