.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: #1c252c;
  color: white;
  font-size: 0.8rem;
}

.texto_div {
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.media {
  margin-right: 0.5rem;
  height: 6rem;
}

.texto_div h5 {
}

.btn {
  font-size: 0.7rem;
  font-weight: 500;

  border: none;
  margin-right: 0.5rem;
  border-radius: 17px;
  background-color: white;
  width: 10vw;
  transition: ease-out 0.4s;
  white-space: nowrap;
}

.paragraf {
  max-width: 15rem;
}
.end_p {
  margin-bottom: 0;
  font-size: 0.8rem;
  background-color: rgba(55, 68, 78, 0.6);
  padding: 0.2rem 1rem;
}

@media (max-width: 1200px) {
  .footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: #1c252c;
    color: white;
    font-size: 0.8rem;
  }

  .texto_div {
    padding: 1rem 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .media {
    margin-right: 0.5rem;
    height: 6rem;
  }

  .texto_div h5 {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.7rem;
    font-weight: 500;

    border: none;
    margin-right: 0.5rem;
    border-radius: 17px;
    background-color: white;
    width: 15vw;
    transition: ease-out 0.4s;
    white-space: normal;
  }

  .paragraf {
    max-width: 15rem;
  }
  .end_p {
    margin-bottom: 0;
    font-size: 0.8rem;
    background-color: rgba(55, 68, 78, 0.6);
    padding: 0.2rem 1rem;
  }
}
